body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}


li .Positief ::before  {
    content: "•"; 
    color: green;
}


li .Negatief {
    color: red;
}
/* Voeg jouw css hieraan toe */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-left: 0;
  font-family: Helvetica, sans-serif;
}







h1 { 
    font-family: 'Roboto Slab', serif;
    display: block;
    font-size: 21pt;
    margin-top: 0.67em;
    margin-bottom: 0;
    margin-left: 0.67em;
    margin-right: 0;

}
h2 { 
    display: block;
    font-size: 6pt;
    margin-top: 0;
    margin-bottom: 3em;
    margin-left: 2.5em;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 14pt;
    margin-top: 1.5em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    font-weight: Medium;
}
h4 { 
    display: block;
    font-size: 10pt;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    margin-left: 1.5em;
    margin-right: 0;
    font-weight: lighter;
}
h5 { 
    display: block;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 325px;
    padding-left: 1em;
}
h6 { 
    display: block;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 65px;
    padding-left: 620px;
    padding-bottom: 0px;
}

h7 { 
    display: block;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 250px;
    padding-left: 1em;
}
h8 { 
    display: block;
    font-size: 16pt;
    margin-top: 30px;
    margin-bottom: 1em;
    margin-right: 0;
    font-weight: bold;
}
h9 { 
    font-family: 'Roboto Slab', serif;
    display: block;
    font-size: 21pt;
    margin-top: 1em;
    margin-bottom: 0;
    margin-right: 0;
    font-weight: bold;


}
h10 { 
    display: block;
    font-size: 12pt;
    margin-top: 1.5em;
    margin-right: 0;
    font-weight: bold;
    padding-top: 15px;
}
h11 { 
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 12pt;
    margin-top: 1.5em;
    margin-bottom: 0;
    margin-right: 0;
    font-weight: Medium;
}
.Slab {
font-family: Roboto Slab, serif;
font-weight: bold;
font-size: 21pt;
}

.SlabRegular {
font-family: Roboto Slab, serif;
font-weight: normal;
font-size: 16pt;
}

.Medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14pt; 
}

.hoofd {
    font-family: Helvetica, sans-serif;
    font-size: 10pt; 
}
.box {
    background-color: #FFF;
   padding-right: 30px;
   padding-bottom: 10px;
   padding-left: 10px;
   margin: 1em;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #FFF;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #4B358E;
    color: black;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #FFF;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #000000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #B7B7B7;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the content */
.content {
    background-color: #DBD8A8;
}





input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: #45a049;
    border-radius: 12px;
}

.container {
    border-radius: 5px;
    background-color: #DBD8A8;
    padding-left: 20px;
    padding-right: 600px;
    padding-bottom: 150px;
    padding-top: 40px;
}

.lettertypes {
    padding-left: 700px;
    padding-top: 120px;
}

.col-20 {
    float: left;
    width: 20%;
    margin-top: 3px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 200%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: block;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* Style the buttons */

.buttons {
    float: left;
    padding-left: 1em;
    padding-top: 10px;
    margin: 3px;
}

.button1 {
    color: #000000;
    background-color: white;
    border-radius: 12px;
    padding: 10px 30px;
    
}

.button1:hover {
    color: #000000;
    background-color: rgb(226, 223, 223);
    border-radius: 12px;
    padding: 10px 30px;
    
}

.button2 {
    color: #fff;
    background-color: #4CAF50;
    border-radius: 12px;
    padding: 10px 30px;
}


.button2:hover {
    color: #fff;
    background-color: #45a049;
    border-radius: 12px;
  
    
}
.button3 {
    color: #fff;
    background-color: rgb(211, 98, 98);
    border-radius: 12px;
    padding: 10px 30px;
}


.button3:hover {
    color: #fff;
    background-color: rgb(236, 69, 69);
    border-radius: 12px;
  
    
}

.button4 {
    color: #000;
    background-color: lightgray;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
}


.button4:hover {
    color: #000;
    background-color: rgb(177, 174, 174);
    border-radius: 50%;
  
    
}

/* Colors used */

.color1 {
    background-color: #DBD8A8;
    border-radius: 12px;
    padding: 30px 60px;

}
.color2 {
    background-color: #EAE7CA;
    border-radius: 12px;
    padding: 30px 45px;

}
.color3 {
    background-color: #B7B7B7;
    border-radius: 12px;
    padding: 30px 60px;

}
.color4 {
    color: #FFF;
    background-color: #474747;
    border-radius: 12px;
    padding: 30px 65px;

}
.color5 {
    color: #FFF;
    background-color: #4B358E;
    border-radius: 12px;
    padding: 30px 60px;

}

/* Style the images */

.Logo {
    width: 150px;
    float: left;
    padding-right: 30px;
}

.icons {
    width: 145px;
float: left;
padding-left: 20px;  

}

.test {
    padding-right: 425px;
    float: right;
    
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 30px;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.product {
    width: 175px;
    float: left;
    padding-right: 20px;
    padding-top: 30px;
    padding-left: 10px;
}



/* Style the footer */
.footer {
    background-color: #fff;
    padding-top: 50px;
    padding-left: 1em;
    padding-bottom: 1em;
}

